.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-color: rgb(150, 144, 144);
}

a {
  text-decoration: none;
  color: rgb(39, 39, 83);
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

/* Add more styling for other elements if needed */
